/* adds all necessary classes and utilities to make tailwind work!*/
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

/* add custom font here - each font has its own font-fact wrapper. make sure you add any new ones to tailwind.config file! */
@font-face {
	font-family: 'burtons';
	src: url('../public/Burtons.otf');
}

@font-face {
	font-family: 'jungleeast';
	src: url('../public/Jungleeast.otf');
}
